<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DESKey" value="RmCnoocDotNetKey2020"/>
    <add key="AESKey" value="r45jdkt7soklm90eujkn59"/>
    <add key="SM4Key" value="pqwe@qwezs5631s9"/>
    <add key="SM2PubKey" value="CLXT@2021*Opub"/>
    <add key="SM2PriKey" value="CLXT@2021*Zpri"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
